/* LOGIN */
.login {
  background-image: url("../../assets/img/fondo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: inherit;
}

.login__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  min-height: 100vh;
  padding-inline: 1rem;
}

.login__figure {
  width: 50%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
}

.login__img {
  display: block;
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.group { position: relative; }

.form__input {
  width: 100%;
  padding: .5rem;
  font-size: .9rem;
  font-family: inherit;
  color: var(--color-primary);
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-paragraph);
  transition: border-color .3s;

  &:hover,
  &:focus {
    border-color: var(--color-important);
  }
}

.form__label {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  color: var(--color-paragraph);
  pointer-events: none;
  transition: all .3s ease;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  font-size: .8rem;
  font-weight: 700;
  color: var(--color-primary);
  transform: translateY(-200%);
  pointer-events: auto;
}

.form__input--submit {
  padding: .8rem;
  font-weight: 600;
  color: var(--color-primary);
  background-color: var(--color-important);
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  transition: transform .3s;

  &:hover,
  &:focus {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(.95);
  }
}

.login__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.login__link {
  font-size: .9rem;
  color: var(--color-paragraph);
  transition: color .3s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

@media (width >= 768px) {
  /* LOGIN */
  .login__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding-inline: 0;
  }

  .login__form {
    justify-content: center;
    width: 50%;
    max-width: calc(350px + 3rem);
    min-height: 100vh;
    padding-inline: 3rem;
    background-color: #20201f;
  }
}