* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #1c1c1a;
  --color-paragraph: #b3b3b9;
  --color-important: #e1af1c;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

/* LOGIN */
.login {
  background-image: url("../assets/img/fondo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.login__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  max-width: 350px;
  min-height: 100vh;
}

.login__figure {
  width: 50%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
}

.login__img {
  display: block;
  width: 100%;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.login__title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.group { position: relative; }

.form__input {
  width: 100%;
  padding: .5rem;
  font-size: .9rem;
  font-family: inherit;
  color: var(--color-primary);
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid var(--color-paragraph);
  transition: border-color .3s;

  &:hover,
  &:focus {
    border-color: var(--color-important);
  }
}

.form__label {
  position: absolute;
  left: .5rem;
  bottom: .5rem;
  color: var(--color-paragraph);
  pointer-events: none;
  transition: all .3s ease;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  font-size: .8rem;
  font-weight: 700;
  color: var(--color-primary);
  transform: translateY(-200%);
  pointer-events: auto;
}

.form__input--submit {
  padding: .8rem;
  font-weight: 600;
  color: var(--color-primary);
  background-color: var(--color-important);
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  transition: transform .3s;

  &:hover,
  &:focus {
    transform: scale(1.025);
  }

  &:active {
    transform: scale(.95);
  }
}

.login__options {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.login__link {
  font-size: .9rem;
  color: var(--color-paragraph);
  transition: color .3s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

/* HERO NAV */
.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.nav__primary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding-block: 1rem;
  border-bottom: 1px solid #dedede;
}

.nav__figure { width: 150px; }

.nav__img {
  display: block;
  width: 100%;
}

.nav__container-login {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav__icon {
  width: 1.25rem;
  height: 1.25rem;
}

.nav__login {
  font-size: .9rem;
  font-weight: 600;
  color: var(--color-secondary);
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

.nav__navigation {
  display: inline-block;
  padding-block: .5rem;
  font-size: .8rem;
  font-weight: 600;
  color: var(--color-secondary);
  border-bottom: 3px solid var(--color-important);
}

/* HERO MAIN */
.hero__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
  padding-block: 5rem;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  text-wrap: balance;
  line-height: 1.25;
}

.hero__paragraph {
  margin-bottom: 1rem;
  text-wrap: pretty;
  color: var(--color-paragraph);
  line-height: 1.5;
}

.hero__cta {
  padding: .8rem 3.5rem;
  font-weight: 700;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: .8rem;
  transition: color .3s, background-color .3s, transform .3s;

  &:hover,
  &:focus {
    color: var(--color-primary);
    background-color: var(--color-important);
  }

  &:active {
    transform: scale(.95);
  }
}

.hero__figure {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
}

.hero__img {
  display: block;
  width: 100%;
}

/* SECTIONS FEATURE */
.feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
}

.feature__figure {
  width: 250px;
  aspect-ratio: 125 / 222;
}

.feature__img {
  display: block;
  width: 100%;
}

.feature__text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
}

/* Aplica order -1 solo a los .feature impares, esto hara que el .feature__text se posicione antes que la imagen */
.feature:nth-child(odd) .feature__text { order: -1; }

/* SECTION FUNCTIONALITIES */
.functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  min-height: 100vh;
  padding-block: 5rem;
}

.functionalities__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.functionalities__figure {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
  aspect-ratio: 9 / 16;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 50%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 100px var(--color-primary);
  }
}

.functionalities__img {
  display: block;
  width: 100%;
}

.functionalities__group {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  max-width: 800px;
}

.functionality__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  list-style: none;
  background-color: var(--color-tertiary);
  border-radius: 3rem;
  cursor: pointer;
}

.functionality__icon { transition: transform .3s; }

.functionality[open] .functionality__icon { transform: rotate(180deg); }

.functionality__paragraph {
  padding: 1rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
}

/* SECTION ACCESSIBILITY */
.accessibility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  min-height: 100vh;
  padding-block: 5rem;
}

.accessibility__figure {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
}

.accessibility__img {
  display: block;
  width: 100%;
}

.accessibility__paragraph {
  width: 90%;
  margin-inline: auto;
  text-wrap: pretty;
  line-height: 1.5;
  color: var(--color-paragraph);
}

/* SECTION SOLUTIONS */
.solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding-block: 5rem;
}

.solutions__figure {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
  aspect-ratio: 9 / 16;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 50%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 100px var(--color-primary);
  }
}

.solutions__img {
  display: block;
  width: 100%;
}

.solutions__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.solution__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  list-style: none;
  background-color: var(--color-tertiary);
  border-radius: 3rem;
  cursor: pointer;
}

.solution__icon { transition: transform .3s; }

.solution[open] .solution__icon { transform: rotate(180deg); }

.solution__paragraph {
  padding: 1rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
}

/* SECTION INFO */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 650px;
  min-height: 100vh;
  padding-block: 5rem;
}

.info__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  line-height: 1.25;
}

.info__paragraph {
  text-align: center;
  text-wrap: pretty;
  color: var(--color-paragraph);
  line-height: 1.5;
}

@media (width >= 375px) {
  /* HERO NAV */
  .nav__primary {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (width >= 600px) {
  /* SECTIONS FEATURE */
  .feature__text {
    letter-spacing: 4px;
    writing-mode: unset;
    text-orientation: unset;
  }

  /* SECTION FUNCTIONALITIES */
  .functionalities__group { grid-template-columns: repeat(2, 1fr); }

  /* SECTION SOLUTIONS */
  .solutions__group {
    width: 90%;
    margin-inline: auto;
  }
}

@media (width >= 768px) {
  /* LOGIN */
  .login__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    max-width: 1200px;
    padding-inline: 4rem;
  }

  .login__form {
    justify-content: center;
    width: 50%;
    max-width: calc(350px + 3rem);
    min-height: 100vh;
    padding-inline: 3rem;
    background-color: #20201f55;
  }

  /* HERO MAIN */
  .hero__main {
    flex-direction: row;
    align-items: center;
  }

  .hero__texts { gap: 1.5rem; }

  /* SECTIONS FEATURE */
  .feature { gap: 3rem; }

  .feature__text { font-size: 2.5rem; }

  /* SECTION FUNCTIONALITIES */
  .functionalities { gap: 2rem; }

  .functionalities__group { gap: 2rem; }

  /* SECTION ACCESSIBILITY */
  .accessibility {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    max-width: 800px;
  }

  /* SECTION SOLUTIONS */
  .solutions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .solutions__figure { margin-inline: 0; }

  .solutions__group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 350px;
    margin-inline: 0;
  }
}

@media (width >= 1024px) {
  /* HERO MAIN */
  .hero__main {
    gap: 4rem;
    padding-inline: 4rem;
  }

  /* SECTIONS FEATURE */
  .feature { gap: 4rem; }

  .feature__figure { width: 300px; }

  .feature__text { font-size: 3rem; }

  /* SECTION FUNCTIONALITIES */
  .functionalities__figure { margin-bottom: 1rem; }

  .functionalities__group { 
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "one one two two three three"
                         ". four four five five .";
  }

  .functionality:nth-child(1) { grid-area: one; }

  .functionality:nth-child(2) { grid-area: two; }

  .functionality:nth-child(3) { grid-area: three; }

  .functionality:nth-child(4) { grid-area: four; }
  
  .functionality:nth-child(5) { grid-area: five; }

  /* SECTION ACCESSIBILITY */
  .accessibility { gap: 4rem; }
}