* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #1c1c1a;
  --color-paragraph: #ffffff;
  --color-important: #e1af1c;
}

@font-face {
  font-family: "Rubik";
  src: url("../assets/font/Rubik-VariableFont_wght.woff2") format("woff2-variations"),
       url("../assets/font/Rubik-VariableFont_wght.ttf") format("truetype"); 
  font-weight: 300 900;
}

body {
  font-family: "Rubik", sans-serif;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

.contact-modal {
  position: fixed;
  bottom: 2rem;
  right: 0;
  z-index: 100;
  display: inline-block;
  padding: 1rem .5rem;
  font-size: .9rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--color-important);
  letter-spacing: 2px;
  writing-mode: vertical-lr;
  background-color: var(--color-tertiary);
  border: none;
  outline: none;
  border-bottom-right-radius: .8rem;
  border-top-right-radius: .8rem;
  cursor: pointer;
  transform: rotate(180deg);
  transition: color .3s, background-color .3s;

  &:hover,
  &:focus {
    color: var(--color-primary);
    background-color: var(--color-important);
  }
}

/* HEADER */
.header {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 999;
}

.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
}

.nav__primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 5rem;
  padding-block: 1rem;
  color: var(--color-primary);
}

.nav__figure {
  width: auto;
  height: 2.5rem;
}

.nav__img {
  display: block;
  width: 100%;
  height: 100%;
}

.nav__menu {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  z-index: -10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding-block: 2rem;
  background-color: var(--color-secondary);
  list-style: none;
  transform: translateY(-150%);
  transition: transform .5s;
}

.nav__primary:has(.nav__label .nav__checkbox:checked) .nav__menu {
  transform: translateY(0);
}

.nav__link {
  position: relative;
  font-size: 1.15rem;
  color: inherit;
  transition: color .2s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background: var(--color-important);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease-in-out;
  }

  &:hover,
  &:focus {
    color: var(--color-important);

    &::before {
      transform: scaleX(1);
    }
  }
}

.nav__container-login {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__label {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

.nav__checkbox {
  display: none;
}

.icon-menu,
.icon-close {
  width: 2rem;
  height: 2rem;
}

.icon-close {
  display: none;
}

.nav__primary:has(.nav__label .nav__checkbox:checked) .icon-menu {
  display: none;
}

.nav__primary:has(.nav__label .nav__checkbox:checked) .icon-close {
  display: block;
}

/* SECTION HERO */
.hero {
  background-image: url("../assets/img/fondo-particulas.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(to top, transparent, black 10%);
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-block: 8rem;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  max-width: 600px;
}

.hero__title {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1.5rem;
  font-weight: 400;
  text-wrap: balance;
  text-align: center;
}

.hero__group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero__cta {
  padding: 1rem 3.5rem;
  font-size: 1.125rem;
  font-family: inherit;
  font-weight: 700;
  line-height: 1.4;
  color: var(--color-primary);
  text-transform: uppercase;
  background-color: var(--color-secondary);
  border-radius: 1.125rem;
  border: 2px solid var(--color-primary);
  outline: none;
  cursor: pointer;
  transition: color .3s, background-color .3s;

  &:hover,
  &:focus {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }
}

.hero__paragraph {
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
  color: var(--color-primary);
  text-transform: uppercase;
}

.hero__figure {
  order: -1;
  width: 90%;
  max-width: 450px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
}

.hero__img {
  display: block;
  width: 100%;
}

/* SECTIONS FEATURE */
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 4rem;
}

.feature__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.feature__figure {
  width: 250px;
  aspect-ratio: 125 / 222;
  animation: slide-in-right linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.feature__img {
  display: block;
  width: 100%;
}

.feature__text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  animation: text-focus-in linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.feature:nth-child(odd) .feature__figure {
  animation: slide-in-left linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

/* Aplica order -1 solo a los .feature impares, esto hara que el .feature__text se posicione antes que la imagen */
.feature:nth-child(even) .feature__text {
  order: -1;
}

.feature__paragraph {
  max-width: 400px;
  color: var(--color-paragraph);
  text-align: center;
  text-wrap: pretty;
}

/* SECTION FUNCTIONALITIES */
.functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 5rem;
}

.functionalities__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.functionalities__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.functionalities__figure {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
  aspect-ratio: 300 / 587;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.functionalities__img {
  display: block;
  width: 100%;
}

.functionalities__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.functionality__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  list-style: none;
  background-color: var(--color-tertiary);
  border-radius: 1rem;
  cursor: pointer;
}

.functionality__icon {
  transition: transform .3s;
}

.functionality[open] .functionality__icon {
  transform: rotate(180deg);
}

.functionality__paragraph {
  padding: 1rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
}

/* SECTION CAROUSEL - SLIDERS */
.carousel {
  padding-block: 5rem;
}

.swiper-slide img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  max-height: 300px;
}

.swiper-pagination-bullet {
  background-color: #e1af1c !important;
}

.carousel__figure {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 38 / 27;
}

.carousel__img {
  display: block;
  width: 100%;
  height: 100%;
  mask-image: linear-gradient(to right, transparent, black 50%);
}

.slider {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  max-width: 550px;
  margin-inline: auto;
}

.slider__figure {
  flex-shrink: 0;
  width: 100%;
  margin-inline: auto;
  aspect-ratio: 3 / 2;
}

.slider__img {
  display: block;
  width: 100%;
  max-height: 320px;
  object-fit: cover;
}

/* SECTION ACCESSIBILITY */
.accessibility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  padding-block: 10rem;
}

.accessibility__figure {
  width: 90%;
  max-width: 500px;
  margin-inline: auto;
  aspect-ratio: 184 / 131;
  animation: scale-in-center linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.accessibility__img {
  display: block;
  width: 100%;
}

.accessibility__paragraph {
  width: 90%;
  margin-inline: auto;
  text-wrap: pretty;
  line-height: 1.5;
  color: white;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.accessibility__p {
  font-size: 1.5rem;
  text-align: center;
  color: white;
  padding-block: 5rem;
}

/* SECTION SOLUTIONS */
.solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 5rem;
}

.solutions__figure {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
  aspect-ratio: 9 / 16;
  animation: slide-in-right linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.solutions__img {
  display: block;
  width: 100%;
}

.solutions__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.solution__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  list-style: none;
  background-color: var(--color-tertiary);
  border-radius: 1rem;
  cursor: pointer;
}

.solution__icon {
  transition: transform .3s;
}

.solution[open] .solution__icon {
  transform: rotate(180deg);
}

.solution__paragraph {
  padding: 1rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
}

/* SLIDER VIDEOS */
.slider-videos {
  display: flex;
  gap: 1.5rem;
  width: 90%;
  margin-inline: auto;
  padding-block: 5rem;
  overflow: hidden;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.video {
  width: 100%;
  max-width: 550px;
}

/* SECTION INFO */
.info {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
  }
}

.info__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 650px;
  margin-inline: auto;
  margin-top: 4rem;
  padding-block: 8rem;

  &:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.info__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  line-height: 1.25;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.info__paragraph {
  text-align: center;
  text-wrap: pretty;
  color: var(--color-paragraph);
  line-height: 1.5;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

.info__border-intern-one {
  position: absolute;
  inset: 0;
  z-index: -5;
  width: 75%;
  max-width: 500px;
  height: 75%;
  margin: auto;

  &:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.info__border-inter-two {
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
  }
}

.battery {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  transform: scale(.5);
}

.battery-body {
  display: flex;
  justify-content: space-around;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 70px;
  height: 36px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
}

.battery-head {
  width: 4px;
  height: 20px;
  background-color: #fff;
  margin-left: 5px;
  border-radius: 2px;
}

.charge-bar {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  animation: charge 2s infinite;
}

.charge-bar:nth-child(2) {
  animation-delay: 0.5s;
}

.charge-bar:nth-child(3) {
  animation-delay: 1s;
}

@keyframes charge {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* GRADIENT */
.gradient {
  width: 50%;
}

.gradient-animate {
  opacity: .5;
  backdrop-filter: blur(10px);
  animation: color-change-2x 2s linear infinite alternate both;
}

/* SECTION SERVICES */
.services {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-top: 3rem;
  padding-block: 5rem;
}

.services__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.services__group {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service__title {
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

.service__paragraph {
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
  font-size: 1.25rem;
}

.service__cta {
  width: max-content;
  padding: .8rem 2rem;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
  background-color: var(--color-tertiary);
  border: 1px solid var(--color-primary);
  border-radius: 1rem;
  transition: color .3s, background-color .3s;

  &:hover,
  &:focus {
    color: var(--color-secondary);
    background-color: var(--color-primary);
  }
}

.services__images {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.services__figure {
  width: 100%;
  max-height: 320px;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
  aspect-ratio: 16/9;
}

.services__img {
  display: block;
  width: 100%;
  max-height: 320px;
  object-fit: cover;
  aspect-ratio: 16/9;
}

/* SECTION OPINIONS */
.opinions {
  padding-block: 5rem;
}

.opinions__title {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.opinions__group {
  display: grid;
  gap: 2rem;
}

.opinion {
  padding-top: 2rem;
  border-top: 1px dashed var(--color-primary);

  &:last-child {
    padding-bottom: 2rem;
    border-bottom: 1px dashed var(--color-primary);
  }
}

.opinion__paragraph {
  padding-inline: 1rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
}

.opinion__content div {
  margin-top: 1.5rem;
  padding-inline: 1rem;
}

.opinion__content svg {
  width: 1.5rem;
  height: 1.5rem;
  color: #e1af1c;
}

/* FOOTER */
.footer {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.footer__time {
  padding-block: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.line {
  border-top: 1px solid white;
}

.footer__time h5 {
  font-size: 1.25rem;
  font-weight: 500;
}

.footer__content {
  display: grid;
  gap: 2rem;
  padding-block: 3rem;
}

.footer__title {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--color-important);
  text-wrap: balance;
}

.footer__group-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.footer__contact {
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.footer__group-socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer__social-media {
  color: inherit;
}

.footer__social-media svg {
  width: 2rem;
  height: 2rem;
  color: #e1af1c;
}

.footer__figure {
  width: 50px;
}

.footer__img {
  display: block;
  width: 100%;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

/* MODAL */
.modal {
  padding: 2rem;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  outline: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 10px -10px var(--color-primary);

  &[open] {
    position: fixed;
    inset: 0;
    margin: auto;
  }

  &::backdrop {
    background-color: #1c1c1a88;
    backdrop-filter: blur(3px);
  }
}

.modal__close {
  display: block;
  margin-left: auto;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

.modal__close svg {
  width: 1.5rem;
  height: 1.5rem;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 512px;
  margin: 0 auto;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.modal__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.modal__paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-paragraph);
}

.modal__email {
  font-weight: 600;
  color: var(--color-primary);
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: .5rem;
  font-size: .9rem;
  font-weight: 600;
}

.contact__input {
  padding: .8rem 1rem;
  font-size: 1rem;
  font-family: inherit;
  border-radius: .5rem;
  border: none;
  outline: none;
}

.textarea {
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  height: 150px;
  font-family: inherit;
  font-size: 1rem;
  padding: .8rem 1rem;
  border-radius: .5rem;
}

.contact__input--submit {
  width: 50%;
  margin: 0 auto;
  font-weight: 600;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-primary);
  cursor: pointer;
  transition: background-color .3s, transform .3s;

  &:hover,
  &:focus {
    background-color: var(--color-primary);
    color: black;
  }
}

/* WHATSAPP */
.whatsapp {
  position: fixed;
  z-index: 20;
  right: 1rem;
  bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  color: #ffffff;
  background-color: #25d366;
  border-radius: 50%;
  cursor: pointer;
}

.whatsapp::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -10;
  background-color: #25d366;
  border-radius: 50%;
  animation: ping 1.5s cubic-bezier(0,0,.2,1) infinite;
}

.whatsapp:hover::after {
  animation: none;
}

.whatsapp svg {
  width: 1.75rem;
  height: 1.75rem;
}

@keyframes ping {
  75%, 100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes color-change-2x {
  0% {
    background: #ff0000;
    box-shadow: 0 0 100px 25px red;
  }

  100% {
    background: transparent;
    box-shadow: 0 0 100px 25px transparent;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(.25);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@media (width >=600px) {

  /* SECTIONS FEATURE */
  .feature__text {
    letter-spacing: 3px;
    writing-mode: unset;
    text-orientation: unset;
  }

  /* SECTION FUNCTIONALITIES */
  .functionalities__group {
    width: 90%;
    margin-inline: auto;
  }

  /* SECTION SOLUTIONS */
  .solutions__group {
    width: 90%;
    margin-inline: auto;
  }
}

@media (width >=768px) {

  /* HEADER */
  .nav__primary {
    gap: 2rem;
  }

  .nav__menu {
    position: static;
    z-index: 0;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    background-color: transparent;
    transform: translateY(0);
  }

  .nav__label {
    display: none;
  }

  /* HERO MAIN */
  .hero__content {
    flex-direction: row;
    align-items: center;
  }

  .hero__figure {
    order: 1;
  }

  /* SECTIONS FEATURE */
  .feature__content {
    gap: 3rem;
  }

  .feature__text {
    font-size: 3rem;
  }

  .feature__paragraph {
    font-size: 1.2rem;
  }

  /* SECTION FUNCTIONALITIES */
  .functionalities__content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: max-content;
  }

  .functionalities {
    gap: 2rem;
  }

  .functionalities__title {
    font-size: 2.25rem;
  }

  .functionalities__figure {
    order: 1;
  }

  .functionalities__group {
    gap: 2rem;
    width: 350px;
  }

  .functionality__title {
    font-size: 1.15rem;
  }

  .functionality__paragraph {
    font-size: 1.15rem;
  }

  /* SECTION CAROUSEL - SLIDERS */

  .carousel__figure {
    max-width: 500px;
    margin-inline: 0;
  }

  .slider {
    margin-inline: 0;
    margin-right: 1rem;
  }

  /* SECTION ACCESSIBILITY */
  .accessibility {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    max-width: 1000px;
  }

  .accessibility__paragraph {
    font-size: 1.5rem;
  }

  /* SECTION SOLUTIONS */
  .solutions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .solutions__figure {
    margin-inline: 0;
  }

  .solutions__group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 350px;
    margin-inline: 0;
  }

  .solution__title {
    font-size: 1.15rem;
  }

  .solution__paragraph {
    font-size: 1.15rem;
  }

  /* SLIDER VIDEOS */
  .slider-videos {
    width: 100%;
    max-width: 1440px;
  }

  /* SECTION INFO */
  .info {
    &::after {
      width: 3rem;
      height: 3rem;
    }

    &:before {
      width: 3rem;
      height: 3rem;
    }
  }

  .info__content {
    &::after {
      width: 3rem;
      height: 3rem;
    }

    &:before {
      width: 3rem;
      height: 3rem;
    }
  }

  .info__title {
    font-size: 2.25rem;
  }

  .info__paragraph {
    font-size: 1.15rem;
  }

  .battery {
    bottom: 1rem;
    left: 1rem;
    transform: scale(1);
  }

  /* SECTION SERVICES */
  .services {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  .services__content {
    width: 70%;
  }

  .services__title {
    font-size: 2.25rem;
  }

  .service__title {
    font-size: 1.4rem;
  }

  .service__paragraph {
    font-size: 1.3rem;
  }

  .services__images {
    width: 30%;
    max-width: 250px;
  }

  .services__figure {
    aspect-ratio: auto;
  }

  .services__img {
    aspect-ratio: auto;
  }

  /* SECTION OPINIONS */
  .opinions__title {
    font-size: 2.25rem;
  }

  .opinions__group {
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }

  .opinion {
    flex-basis: calc(350px - 2rem);
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding-block: 1.5rem;
    border: none;
    border-left: 1px dashed var(--color-primary);

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }

  .opinion__paragraph {
    font-size: 1.15rem;
  }

  /* FOOTER */
  .footer__content {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .footer__title {
    text-align: left;
  }

  .footer__figure {
    width: 80px;
    margin-left: auto;
    grid-column: span 3;
  }

  .new {
    margin-left: auto;
    flex-wrap: nowrap;
    gap: 3rem;
  }

  /* WHATSAPP */
  .whatsapp {
    width: 4rem;
    height: 4rem;
  }

  .whatsapp svg {
      width: 2rem;
      height: 2rem;
  }
}

@media (width >=1024px) {

  /* HERO MAIN */
  .hero__content {
    gap: 4rem;
    padding-inline: 1rem;
    padding-block: 5rem;
  }

  .hero__title {
    font-size: 2rem;
  }

  /* SECTIONS FEATURE */
  .feature {
    flex-direction: row;
  }

  .feature__content {
    gap: 2rem;
  }

  .feature__figure {
    width: 300px;
  }

  .feature__text {
    font-size: 3.5rem;
  }

  .feature__paragraph {
    font-size: 1.5rem;
    text-align: left;
    animation: opacity linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
  }

  /* Aplica order -1 solo a los .feature impares, esto hara que el .feature__text se posicione antes que la imagen */
  .feature:nth-child(odd) .feature__paragraph {
    order: -1;
    text-align: right;
  }

  /* SECTION FUNCTIONALITIES */
  .functionalities__title {
    font-size: 2.5rem;
  }

  /* SECTION ACCESSIBILITY */
  .accessibility {
    gap: 4rem;
  }

  /* SECTION INFO */
  .info__title {
    font-size: 2.5rem;
  }

  .info__paragraph {
    font-size: 1.2rem;
  }

  /* SECTION SERVICES */
  .services__title {
    font-size: 2.5rem;
  }

  .service__title {
    font-size: 1.5rem;
  }

  .service__paragraph {
    font-size: 1.5rem;
  }

  .services__images {
    width: 30%;
    max-width: 250px;
  }

  /* SECTION OPINIONS */
  .opinions__title {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  .opinion__paragraph {
    font-size: 1.2rem;
  }

  /* FOOTER */

  .footer__contact {
    font-size: 1.15rem;
  }

  .footer__figure {
    justify-self: flex-end;
    grid-column: unset;
  }
}

@media (width >=1200px) {

  /* SECTIONS FEATURE */
  .feature__text {
    font-size: 4rem;
  }
}