* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ffffff;
  --color-secondary: #000000;
  --color-tertiary: #1c1c1a;
  --color-paragraph: #b3b3b9;
  --color-important: #e1af1c;
}

::-webkit-scrollbar { width: 8px; }

::-webkit-scrollbar-track { background-color: var(--color-tertiary); }

::-webkit-scrollbar-thumb { 
  background-color: var(--color-important);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover { background-color: #e1af1cdd; }

body {
  font-family: "Poppins", sans-serif;
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin-inline: auto;
}

.contact-modal {
  position: fixed;
  bottom: 2rem;
  right: 0;
  z-index: 100;
  display: inline-block;
  padding: 1rem .5rem;
  font-size: .9rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--color-important);
  letter-spacing: 2px;
  writing-mode: vertical-lr;
  background-color: var(--color-tertiary);
  border: none;
  outline: none;
  border-bottom-right-radius: .8rem;
  border-top-right-radius: .8rem;
  cursor: pointer;
  transform: rotate(180deg);
  transition: color .3s, background-color .3s;

  &:hover,
  &:focus {
    color: var(--color-primary);
    background-color: var(--color-important);
  }
}

/* BACKGROUND */
.background {
  position: fixed;
  inset: 0;
  z-index: -10;
  width: 100%;
  height: 100vh;
  background-image: url("../assets/img/fondo-particulas.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .8;
}

/* HEADER */
.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.nav__primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 4rem;
  padding-block: 1rem;
  color: var(--color-secondary);
  border-bottom: 1px solid #dedede;
}

.nav__figure {
  width: 150px;
  aspect-ratio: 75 / 13;
}

.nav__img {
  display: block;
  width: 100%;
}

.nav__menu {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding-block: 2rem;
  background-color: var(--color-primary);
  list-style: none;
  transform: translateY(-150%);
  transition: transform .5s;
}

.nav__primary:has(.nav__label .nav__checkbox:checked) .nav__menu {
  transform: translateY(0);
}

.nav__link {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-secondary);
  transition: color .2s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background: var(--color-important);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease-in-out;
  }

  &:hover,
  &:focus {
    color: var(--color-important);

    &::before {
      transform: scaleX(1);
    }
  }
}

.nav__container-login {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__label {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

.nav__checkbox { display: none; }

.icon-menu,
.icon-close {
  width: 2rem;
  height: 2rem;
}

.icon-close { display: none; }

.nav__primary:has(.nav__label .nav__checkbox:checked) .icon-menu {
  display: none;
}

.nav__primary:has(.nav__label .nav__checkbox:checked) .icon-close {
  display: block;
}

.nav__navigation {
  display: inline-block;
  padding-block: .5rem;
  font-size: .9rem;
  font-weight: 600;
  color: var(--color-secondary);
  border-bottom: 3px solid var(--color-important);
}

/* SECTION HERO */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-block: 5rem;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.hero__title {
  font-size: 2rem;
  font-weight: 700;
  text-wrap: balance;
  line-height: 1.25;
}

.hero__paragraph {
  margin-bottom: 1rem;
  text-wrap: pretty;
  color: var(--color-paragraph);
  line-height: 1.5;
}

.hero__cta {
  padding: .8rem 3.5rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: .8rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color .3s, background-color .3s, transform .3s;

  &:hover,
  &:focus {
    color: var(--color-primary);
    background-color: var(--color-important);
  }

  &:active {
    transform: scale(.95);
  }
}

.hero__figure {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  animation: scale-in-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hero__img {
  display: block;
  width: 100%;
}

/* SECTIONS FEATURE */
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 4rem;
}

.feature__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.feature__figure {
  width: 250px;
  aspect-ratio: 125 / 222;
  animation: slide-in-right linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.feature__img {
  display: block;
  width: 100%;
}

.feature__text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  animation: text-focus-in linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.feature:nth-child(even) .feature__figure { 
  animation: slide-in-left linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

/* Aplica order -1 solo a los .feature impares, esto hara que el .feature__text se posicione antes que la imagen */
.feature:nth-child(even) .feature__text { order: -1; }

.feature__paragraph {
  max-width: 400px;
  font-size: .9rem;
  color: var(--color-paragraph);
  text-align: center;
  text-wrap: pretty;
}

/* SECTION FUNCTIONALITIES */
.functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 5rem;
}

.functionalities__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.functionalities__figure {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
  aspect-ratio: 300 / 587;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 50%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 100px var(--color-primary);
  }
}

.functionalities__img {
  display: block;
  width: 100%;
}

.functionalities__group {
  display: grid;
  gap: 1.5rem;
  width: 100%;
  max-width: 800px;
}

.functionality__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  list-style: none;
  background-color: var(--color-tertiary);
  border-radius: 3rem;
  cursor: pointer;
}

.functionality__icon { transition: transform .3s; }

.functionality[open] .functionality__icon { transform: rotate(180deg); }

.functionality__paragraph {
  padding: 1rem;
  font-size: .9rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
}

/* SECTION CAROUSEL - SLIDERS */
.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-block: 5rem;
  overflow-x: hidden;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 45%;
}

.carousel__figure {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 38 / 27;
}

.carousel__img {
  display: block;
  width: 100%;
  mask-image: linear-gradient(to right, transparent, black 50%);
}

.slider {
  display: flex;
  width: 100%;
  max-width: 550px;
  margin-inline: auto;
}

.slider__figure {
  flex-shrink: 0;
  width: 100%;
  margin-inline: auto;
  aspect-ratio: 3 / 2;
}

.slider__img {
  display: block;
  width: 100%;
}

/* SECTION ACCESSIBILITY */
.accessibility {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  padding-block: 5rem;
}

.accessibility__figure {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 184 / 131;
  animation: scale-in-center linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.accessibility__img {
  display: block;
  width: 100%;
}

.accessibility__paragraph {
  width: 90%;
  margin-inline: auto;
  text-wrap: pretty;
  line-height: 1.5;
  color: var(--color-paragraph);
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

/* SECTION SOLUTIONS */
.solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 5rem;
}

.solutions__figure {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
  aspect-ratio: 9 / 16;
  animation: slide-in-right linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 50%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 100px var(--color-primary);
  }
}

.solutions__img {
  display: block;
  width: 100%;
}

.solutions__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.solution__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  list-style: none;
  background-color: var(--color-tertiary);
  border-radius: 3rem;
  cursor: pointer;
}

.solution__icon { transition: transform .3s; }

.solution[open] .solution__icon { transform: rotate(180deg); }

.solution__paragraph {
  padding: 1rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
}

/* SECTION INFO */
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 650px;
  padding-block: 5rem;
}

.info__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  line-height: 1.25;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.info__paragraph {
  text-align: center;
  text-wrap: pretty;
  color: var(--color-paragraph);
  line-height: 1.5;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

/* MODAL */
.modal {
  padding: 2rem;
  color: var(--color-primary);
  background-color: var(--color-secondary);
  outline: none;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0 10px -10px var(--color-primary);

  &[open] {
    position: fixed;
    inset: 0;
    margin: auto;
  }

  &::backdrop {
    background-color: #1c1c1a88;
    backdrop-filter: blur(3px);
  }
}

.modal__close {
  display: block;
  margin-left: auto;
  color: var(--color-primary);
  background-color: transparent;
  border: none;
  outline: none; 
  cursor: pointer;
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

.modal__close svg {
  width: 1.5rem;
  height: 1.5rem;
}

.modal__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.modal__paragraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  margin-bottom: 1rem;
  font-size: .9rem;
  text-align: center;
  color: var(--color-paragraph);
}

.modal__email {
  font-weight: 600;
  color: var(--color-primary);
  transition: color .2s;
  
  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__label {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  margin-bottom: .5rem;
  font-size: .9rem;
  font-weight: 600;
}

.contact__input {
  padding: .5rem 1rem;
  font-size: .9rem;
  font-family: inherit;
  border-radius: .5rem;
  border: none;
  outline: none;
}

.contact__input--submit {
  width: 100%;
  font-weight: 600;
  color: var(--color-primary);
  background-color: transparent;
  border: 1px solid var(--color-important);
  cursor: pointer;
  transition: background-color .3s, transform .3s;

  &:hover,
  &:focus {
    background-color: var(--color-important);
  }

  &:active {
    transform: scale(.95);
  }
}

/* GRADIENT */
.gradient {
  width: 50%;
  min-height: 25vh;
}

.gradient-animate {
  opacity: .5;
  backdrop-filter: blur(10px);
  animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
    background: #ff0000;
    box-shadow: 0 0 100px 25px red;
  }
  
  100% {
    background: #0000ff;
    box-shadow: 0 0 100px 25px blue;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scale-in-center {
  0% {
    transform: scale(.25);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

@media (width >= 600px) {
  /* SECTIONS FEATURE */
  .feature__text {
    letter-spacing: 3px;
    writing-mode: unset;
    text-orientation: unset;
  }

  /* SECTION FUNCTIONALITIES */
  .functionalities__group { grid-template-columns: repeat(2, 1fr); }

  /* SECTION SOLUTIONS */
  .solutions__group {
    width: 90%;
    margin-inline: auto;
  }
}

@media (width >= 768px) {
  .contact-link { font-size: 1rem; }

  /* HEADER */
  .nav__primary { gap: 2rem; }

  .nav__menu {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    background-color: transparent;
    transform: translateY(0);
  }

  .nav__link {
    font-size: 1rem;
    font-weight: 600;
    transition: color .2s;

    &:hover,
    &:focus {
      color: var(--color-important);
    }
  }

  .nav__label { display: none; }

  /* HERO MAIN */
  .hero {
    flex-direction: row;
    align-items: center;
  }

  .hero__texts { gap: 1.5rem; }

  .hero__title { font-size: 2.25rem; }

  /* SECTIONS FEATURE */
  .feature__content { gap: 3rem; }

  .feature__text { font-size: 3rem; }

  /* SECTION FUNCTIONALITIES */
  .functionalities { gap: 2rem; }

  .functionalities__title { font-size: 2.25rem; }

  .functionalities__group { gap: 2rem; }

  /* SECTION CAROUSEL - SLIDERS */
  .carousel { flex-direction: row; }

  .slider { margin-inline: 0; }

  /* SECTION ACCESSIBILITY */
  .accessibility {
    flex-direction: row;
    align-items: center;
    gap: 3rem;
    max-width: 800px;
  }

  /* SECTION SOLUTIONS */
  .solutions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .solutions__figure { margin-inline: 0; }

  .solutions__group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 350px;
    margin-inline: 0;
  }

  /* SECTION INFO */
  .info__title { font-size: 2.25rem; }
}

@media (width >= 1024px) {
  /* HERO MAIN */
  .hero {
    gap: 4rem;
    padding-inline: 4rem;
  }

  .hero__title { font-size: 2.5rem; }

  /* SECTIONS FEATURE */
  .feature {
    flex-direction: row;
  }

  .feature__content { gap: 2rem; }

  .feature__figure { width: 300px; }

  .feature__text { font-size: 3.5rem; }

  .feature__paragraph { 
    font-size: 1rem;
    text-align: left;
    animation: opacity linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
  }

  /* Aplica order -1 solo a los .feature impares, esto hara que el .feature__text se posicione antes que la imagen */
  .feature:nth-child(odd) .feature__paragraph { 
    order: -1;
    text-align: right;
   }

  /* SECTION FUNCTIONALITIES */
  .functionalities__title { font-size: 2.5rem; }

  .functionalities__figure { margin-bottom: 1rem; }

  .functionalities__group { 
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "one one two two three three"
                         ". four four five five .";
  }

  .functionality:nth-child(1) { grid-area: one; }

  .functionality:nth-child(2) { grid-area: two; }

  .functionality:nth-child(3) { grid-area: three; }

  .functionality:nth-child(4) { grid-area: four; }
  
  .functionality:nth-child(5) { grid-area: five; }

  /* SECTION ACCESSIBILITY */
  .accessibility { gap: 4rem; }

  /* SECTION INFO */
  .info__title { font-size: 2.5rem; }
}

@media (width >= 1200px) {
  /* SECTIONS FEATURE */
  .feature__text { font-size: 4rem; }
}