/* LOADER */
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background-image: url("../../assets/img/fondo.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.loader__content {
  width: 90%;
  max-width: 800px;
}

.loader__title {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.loader__bar {
  height: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--color-primary);
}

.loader__percentage {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

@media (width >= 768px) {
  .loader__title { font-size: 1.8rem; }
}