<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./loader.css">
  <title>Document</title>
</head>
<body>
  <div class="loader">
    <div class="loader__content">
      <p class="loader__title">Seguridad, Control, Protección</p>
      <div class="loader__bar"></div>
      <span class="loader__percentage">100%</span>
    </div>
  </div>
</body>
</html>