<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./info.css">
  <title>Document</title>
</head>
<body>
  <section class="info container">
    <h3 class="info__title">Sistema de alerta y respuestas a emergencias</h3>
    <p class="info__paragraph">Implementamos un sistema de alerta de emergencias con funcionalidades que permiten tener una respuesta coordinada en caso de incidentes. </p>
  </section>
</body>
</html>