/* SECTION INFO */
.info { 
  position: relative; 

  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
  }
}

.info__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  max-width: 650px;
  margin-inline: auto;
  margin-top: 4rem;
  padding-block: 8rem;

  &:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.info__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
  text-transform: uppercase;
  line-height: 1.25;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 40%;
}

.info__paragraph {
  text-align: center;
  text-wrap: pretty;
  color: var(--color-paragraph);
  line-height: 1.5;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 20% cover 30%;
}

.info__border-intern-one {
  position: absolute;
  inset: 0;
  z-index: -5;
  width: 75%;
  max-width: 500px;
  height: 75%;
  margin: auto;

  &:after {
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  &:before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }
}

.info__border-inter-two {
  &::after {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 2rem;
    height: 2rem;
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
  }

  &:before {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 2rem;
    height: 2rem;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
  }
}

.battery {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  transform: scale(.5);
}

.battery-body {
  display: flex;
  justify-content: space-around;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 70px;
  height: 36px;
  position: relative;
  padding: 5px;
  box-sizing: border-box;
  background-color: transparent;
}

.battery-head {
  width: 4px;
  height: 20px;
  background-color: #fff;
  margin-left: 5px;
  border-radius: 2px;
}

.charge-bar {
  width: 25%;
  height: 100%;
  background-color: #ffffff;
  opacity: 0;
  animation: charge 2s infinite;
}

.charge-bar:nth-child(2) {
  animation-delay: 0.5s;
}

.charge-bar:nth-child(3) {
  animation-delay: 1s;
}

@keyframes charge {
  0%, 100% {
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
}

@media (width >= 768px) {
  /* SECTION INFO */
  .info { 
    &::after {
      width: 3rem;
      height: 3rem;
    }

    &:before {
      width: 3rem;
      height: 3rem;
    }
  }

  .info__content {
    &::after {
      width: 3rem;
      height: 3rem;
    }

    &:before {
      width: 3rem;
      height: 3rem;
    }
  }

  .info__title { font-size: 2.25rem; }

  .battery {
    bottom: 1rem;
    left: 1rem;
    transform: scale(1);
  }
}

@media (width >= 1024px) {
  /* SECTION INFO */
  .info__title { font-size: 2.5rem; }
}