<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./carousel.css">
  <title>Document</title>
</head>
<body>
  <section class="carousel container">
    <figure class="carousel__figure">
      <img class="carousel__img" src="../../assets/img/mano-logo.webp" loading="lazy" alt="Una mano extendida mostrando el logo principal de Acceso 614">
    </figure>
    <section class="slider">
      <figure class="slider__figure">
        <img class="slider__img" src="../../assets/img/familia.webp" loading="lazy" alt="Una familia en un parque">
      </figure>
      <figure class="slider__figure">
        <img class="slider__img" src="../../assets/img/familia-2.webp" loading="lazy" alt="Un padre y su hijo jugando con un carro de juguete">
      </figure>
      <figure class="slider__figure">
        <img class="slider__img" src="../../assets/img/familia-3.webp" loading="lazy" alt="Una familia sentada en un sófa">
      </figure>
    </section>
  </section>
</body>
</html>