<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./opinions.css">
</head>
<body>
  <section class="opinions container">
    <h4 class="opinions__title">Opiniones de Clientes</h4>
    <div class="opinions__group">
      <div class="opinion">
        <p class="opinion__paragraph">Acceso 614 ha brindado una gran seguridad a nuestro fraccionamiento. !Excelente servicio!</p>
      </div>
      <div class="opinion">
        <p class="opinion__paragraph">Estoy muy satisfecho con el control de acceso que ofrece Acceso 614. !Altamente recomendado!</p>
      </div>
      <div class="opinion">
        <p class="opinion__paragraph">El monitoreo 24/7 de Acceso 614 nos ha dado tranquilidad y confianza en nuestro hogar.</p>
      </div>
      <div class="opinion">
        <p class="opinion__paragraph">Los sistemas de seguridad de Acceso 614 son de última tecnología. !Nos sentimos protegidos!</p>
      </div>
    </div>
  </section>
</body>
</html>