<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./functionalities.css">
  <title>Document</title>
</head>
<body>
  <section class="functionalities container">
    <h2 class="functionalities__title">Funcionalidades</h2>
    <div class="functionalities__content">
      <figure class="functionalities__figure">
        <img class="functionalities__img" loading="lazy" src="../../assets/img/celular.webp" alt="Un teléfono mostrando una imagen de seguridad">
      </figure>
      <div class="functionalities__group">
        <details class="functionality" name="funcionalidad">
          <summary class="functionality__title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down functionality__icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>
            Notificaciones y Alertas
          </summary>
          <p class="functionality__paragraph">Recibe notificaciones sobre eventos relevantes en la comunidad, como reuniones y festividades. Mantente informado sobre situaciones de emergencia con alertas inmediatas. Recibe avisos cuando lleguen tus visitas para facilitar el acceso y la seguridad. Sé notificado cuando se restablezcan servicios como luz, agua, e internet.Recibe alertas sobre el mantenimiento programado en las áreas comunes para evitar inconvenientes.​</p>
        </details>
        <details class="functionality" name="funcionalidad">
          <summary class="functionality__title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down functionality__icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>
            Encuestas vecinales
          </summary>
          <p class="functionality__paragraph">Los residentes pueden participar en encuestas para mejorar la comunidad. Visualiza los resultados de las encuestas en tiempo real.</p>
        </details>
        <details class="functionality" name="funcionalidad">
          <summary class="functionality__title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down functionality__icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>
            Encuentra a mi Mascota
          </summary>
          <p class="functionality__paragraph">Informa a la comunidad sobre una mascota perdida y proporciona detalles para su identificación. Comparte una foto de la mascota perdida junto con su nombre y características distintivas. Envía notificaciones a todos los residentes para que ayuden en la búsqueda de la mascota​.</p>
        </details>
        <details class="functionality" name="funcionalidad">
          <summary class="functionality__title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down functionality__icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>
            Gestión de Pagos
          </summary>
          <p class="functionality__paragraph">Realiza pagos de mensualidades de manera segura y rápida. Elige entre opciones de pago mensual, semestral o anual según tu conveniencia​. Recibe recordatorios antes de la fecha límite de pago para evitar retrasos. Consulta tu historial de pagos y descarga comprobantes desde la aplicación​.</p>
        </details>
        <details class="functionality" name="funcionalidad">
          <summary class="functionality__title">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down functionality__icon" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"/></svg>
            Directorio local
          </summary>
          <p class="functionality__paragraph">Encuentra y apoya a negocios locales con ofertas especiales. Los residentes pueden dejar reseñas y calificaciones de los servicios utilizados. Desde servicios de plomería hasta restaurantes, encuentra todo en un solo lugar</p>
        </details>
      </div>
    </div>
  </section>
</body>
</html>