/* SECTION FUNCTIONALITIES */
.functionalities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding-block: 5rem;
}

.functionalities__title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.functionalities__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.functionalities__figure {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
  aspect-ratio: 300 / 587;
  animation: opacity linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 50%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 100px var(--color-primary);
  }
}

.functionalities__img {
  display: block;
  width: 100%;
}

.functionalities__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.functionality__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  list-style: none;
  background-color: var(--color-tertiary);
  border-radius: 1rem;
  box-shadow: 0 0 10px -5px var(--color-primary);
  cursor: pointer;
}

.functionality__icon { transition: transform .3s; }

.functionality[open] .functionality__icon { transform: rotate(180deg); }

.functionality__paragraph {
  padding: 1rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
}

@media (width >= 600px) {
  /* SECTION FUNCTIONALITIES */
  .functionalities__group {
    width: 90%;
    margin-inline: auto;
  }
}

@media (width >= 768px) {
  /* SECTION FUNCTIONALITIES */
  .functionalities__content {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: max-content;
  }

  .functionalities { gap: 2rem; }

  .functionalities__title { font-size: 2.25rem; }

  .functionalities__figure { order: 1; }

  .functionalities__group {
    gap: 2rem;
    width: 350px;
  }

  .functionality__title { font-size: 1.15rem; }

  .functionality__paragraph { font-size: 1.15rem; }
}

@media (width >= 1024px) {
  /* SECTION FUNCTIONALITIES */
  .functionalities__title { font-size: 2.5rem; }
}