<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./hero.css">
  <title>Document</title>
</head>
<body>
  <section class="hero">
    <div class="hero__content container">
      <div class="hero__texts">
        <h1 class="hero__title">Seguridad inteligente y control total en tus manos. Descubre Acceso614 y lleva tu fraccionamiento al siguiente nivel</h1>
        <button class="open-modal hero__cta">Contratar</button>
      </div>
      <figure class="hero__figure">
        <img class="hero__img" src="../../assets/img/logo-principal.webp" alt="Logo principal de Acceso 614">
      </figure>
    </div>
  </section>
</body>
</html>