/* SECTION HERO */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-block: 5rem;
}

.hero__texts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.5rem;
  max-width: 600px;
}

.hero__title {
  font-size: 1.9rem;
  font-weight: 700;
  text-wrap: balance;
  line-height: 1.25;
}

.hero__cta {
  padding: .8rem 3.5rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: 700;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: .8rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color .3s, background-color .3s, transform .3s;

  &:hover,
  &:focus {
    color: var(--color-primary);
    background-color: var(--color-important);
  }

  &:active {
    transform: scale(.95);
  }
}

.hero__figure {
  width: 90%;
  max-width: 400px;
  margin-inline: auto;
  aspect-ratio: 1 / 1;
  animation: scale-in-center 5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.hero__img {
  display: block;
  width: 100%;
}

@media (width >= 768px) {
  /* HERO MAIN */
  .hero {
    flex-direction: row;
    align-items: center;
  }
}

@media (width >= 1024px) {
  /* HERO MAIN */
  .hero {
    gap: 4rem;
    padding-inline: 4rem;
  }
}