<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./slider-videos.css">
  <title>Document</title>
</head>
<body>
  <section class="slider-videos">
    <img class="video" src="../../assets/img/familia.webp" alt="">
    <img class="video" src="../../assets/img/familia.webp" alt="">
    <img class="video" src="../../assets/img/familia.webp" alt="">
    <img class="video" src="../../assets/img/familia.webp" alt="">
  </section>
</body>
</html>