<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./feature.css">
  <title>Document</title>
</head>
<body>
  <section class="feature container">
    <figure class="feature__figure">
      <img class="feature__img" src="../../assets/img/principal.webp" loading="lazy" alt="Un teléfono mostrando las opciones de Acceso 614">
    </figure>
    <p class="feature__text"><strong>Control</strong></p>
  </section>
</body>
</html>