/* SECTIONS FEATURE */
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 4rem;
}

.feature__content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.feature__figure {
  width: 250px;
  aspect-ratio: 125 / 222;
  animation: slide-in-right linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.feature__img {
  display: block;
  width: 100%;
}

.feature__text {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  text-orientation: upright;
  animation: text-focus-in linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

.feature:nth-child(even) .feature__figure { 
  animation: slide-in-left linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;
}

/* Aplica order -1 solo a los .feature impares, esto hara que el .feature__text se posicione antes que la imagen */
.feature:nth-child(even) .feature__text { order: -1; }

.feature__paragraph {
  max-width: 400px;
  color: var(--color-paragraph);
  text-align: center;
  text-wrap: pretty;
}

@media (width >= 600px) {
  /* SECTIONS FEATURE */
  .feature__text {
    letter-spacing: 3px;
    writing-mode: unset;
    text-orientation: unset;
  }
}

@media (width >= 768px) {
  /* SECTIONS FEATURE */
  .feature { gap: 3rem; }

  .feature__text { font-size: 3rem; }
}

@media (width >= 1024px) {
  /* SECTIONS FEATURE */
  .feature { flex-direction: row; }

  .feature__content { gap: 2rem; }

  .feature__figure { width: 300px; }

  .feature__text { font-size: 3.5rem; }

  .feature__paragraph { 
    font-size: 1rem;
    text-align: left;
    animation: opacity linear both;
    animation-timeline: view();
    animation-range: entry 30% cover 40%;
  }

  /* Aplica order -1 solo a los .feature impares, esto hara que el .feature__text se posicione antes que la imagen */
  .feature:nth-child(odd) .feature__paragraph { 
    order: -1;
    text-align: right;
  }
}

@media (width >= 1200px) {
  /* SECTIONS FEATURE */
  .feature__text { font-size: 4rem; }
}