<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./modal.css">
  <script src="./modal.js" defer></script>
  <title>Document</title>
</head>
<body>
  <dialog id="modal" class="modal">
    <button id="close-modal" class="modal__close">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16"><path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/></svg>
    </button>
    <section class="modal__content">
      <p class="modal__title">Contáctanos</p>
      <p class="modal__paragraph">
        <span>Sé de los primeros y recibe grandes descuentos por lanzamiento</span>
        <a class="modal__email" href="mailto:info@acceso614.com">info@acceso614.com</a>
        <span>o bien, a tráves del siguiente formulario</span>
      </p>
      <form class="contact" action="#" method="post">
        <label class="contact__label" for="contact-name">
          Nombre
          <input id="contact-name" class="contact__input" type="text" placeholder="Ejm: Juan Perez">
        </label>
        <label class="contact__label" for="contact-email">
          Correo eléctronico
          <input id="contact-email" class="contact__input" type="email" placeholder="Ejm: juaperez@gmail.com">
        </label>
        <label class="contact__label" for="contact-number">
          Número de contacto
          <input id="contact-number" class="contact__input" type="tel" placeholder="Ejm: +52 987654321">
        </label>
        <input class="contact__input contact__input--submit" type="submit" value="Enviar">
      </form>
    </section>
  </dialog>
</body>
</html>