.contact-modal {
  position: fixed;
  bottom: 2rem;
  right: 0;
  z-index: 100;
  display: inline-block;
  padding: 1rem .5rem;
  font-size: .9rem;
  font-family: inherit;
  font-weight: 600;
  color: var(--color-important);
  letter-spacing: 2px;
  writing-mode: vertical-lr;
  background-color: var(--color-tertiary);
  border: none;
  outline: none;
  border-bottom-right-radius: .8rem;
  border-top-right-radius: .8rem;
  cursor: pointer;
  transform: rotate(180deg);
  transition: color .3s, background-color .3s;

  &:hover,
  &:focus {
    color: var(--color-primary);
    background-color: var(--color-important);
  }
}