<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./services.css">
</head>
<body>
  <section class="services container">
    <section class="services__content">
      <h4 class="services__title">Nuestros Servicios</h4>
      <div class="services__group">
        <article class="service">
          <strong class="service__title">Control de Acceso</strong>
          <p class="service__paragraph">Ofrecemos soluciones de control de acceso para garantizar la seguridad de los residentes.</p>
          <a class="service__cta" href="#">Leer más</a>
        </article>
        <article class="service">
          <strong class="service__title">Monitoreo 24/7</strong>
          <p class="service__paragraph">Nuestro servicio de monitoreo 24/7 brinda tranquilidad y respuesta rápida ante cualquier emergencia.</p>
          <a class="service__cta" href="#">Leer más</a>
        </article>
        <article class="service">
          <strong class="service__title">Sistemas de Seguridad</strong>
          <p class="service__paragraph">Contamos con sistemas de seguridad avanzados que protegen tu hogar y pertenencias.</p>
          <a class="service__cta" href="#">Leer más</a>
        </article>
      </div>
    </section>
    <div class="services__images">
      <figure class="services__figure">
        <img class="services__img" src="../../assets/img/familia-3.webp" loading="lazy" alt="Una familia sentada en un sófa">
      </figure>
      <figure class="services__figure">
        <img class="services__img" src="../../assets/img/perro.webp" loading="lazy" alt="Un perro sentado en dos patas con la lengua afuera">
      </figure>
      <figure class="services__figure">
        <img class="services__img" src="../../assets/img/casa.webp" loading="lazy" alt="Una casa en un clima soleado seguro gracias a Acceso 614">
      </figure>
    </div>
  </section>
</body>
</html>