/* HEADER */
.nav {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
}

.nav__primary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  height: 4rem;
  padding-block: 1rem;
  color: var(--color-secondary);
  border-bottom: 1px solid #dedede;
}

.nav__figure {
  width: 150px;
  aspect-ratio: 75 / 13;
}

.nav__img {
  display: block;
  width: 100%;
}

.nav__menu {
  position: absolute;
  top: 4rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding-block: 2rem;
  background-color: var(--color-primary);
  list-style: none;
  transform: translateY(-150%);
  transition: transform .5s;
}

.nav__primary:has(.nav__label .nav__checkbox:checked) .nav__menu {
  transform: translateY(0);
}

.nav__link {
  position: relative;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color-secondary);
  transition: color .2s;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background: var(--color-important);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .3s ease-in-out;
  }

  &:hover,
  &:focus {
    color: var(--color-important);

    &::before {
      transform: scaleX(1);
    }
  }
}

.nav__container-login {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.nav__icon {
  width: 1.5rem;
  height: 1.5rem;
}

.nav__label {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  transition: color .2s;

  &:hover,
  &:focus {
    color: var(--color-important);
  }
}

.nav__checkbox { display: none; }

.icon-menu,
.icon-close {
  width: 2rem;
  height: 2rem;
}

.icon-close { display: none; }

.nav__primary:has(.nav__label .nav__checkbox:checked) .icon-menu {
  display: none;
}

.nav__primary:has(.nav__label .nav__checkbox:checked) .icon-close {
  display: block;
}

.nav__navigation {
  display: inline-block;
  padding-block: .5rem;
  font-size: .9rem;
  font-weight: 600;
  color: var(--color-secondary);
  border-bottom: 3px solid var(--color-important);
}

@media (width >= 768px) {
  /* HEADER */
  .nav__primary { gap: 2rem; }

  .nav__menu {
    position: static;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    background-color: transparent;
    transform: translateY(0);
  }

  .nav__link {
    font-size: 1rem;
    font-weight: 600;
    transition: color .2s;

    &:hover,
    &:focus {
      color: var(--color-important);
    }
  }

  .nav__label { display: none; }
}