<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../global-styles-and-html/global.css">
  <link rel="stylesheet" href="./accessibility.css">
  <title>Document</title>
</head>
<body>
  <section class="accessibility container">
    <figure class="accessibility__figure">
      <img class="accessibility__img" loading="lazy" src="../../assets/img/computadora.webp" alt="Una laptop encima de una mesa redonda gris mostrando en la pantalla el logo de Acceso 614">
    </figure>
    <p class="accessibility__paragraph">Nuestra app está diseñada para ser accesible a todos, incluyendo personas con discapacidades visuales. ¡Descubre cómo!</p>
  </section>
</body>
</html>