/* SECTION SOLUTIONS */
.solutions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  min-height: 100vh;
  padding-block: 5rem;
}

.solutions__figure {
  position: relative;
  width: 80%;
  max-width: 300px;
  margin-inline: auto;
  aspect-ratio: 9 / 16;
  animation: slide-in-right linear both;
  animation-timeline: view();
  animation-range: entry 30% cover 40%;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    width: 50%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    box-shadow: 0 0 100px var(--color-primary);
  }
}

.solutions__img {
  display: block;
  width: 100%;
}

.solutions__group {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.solution__title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  list-style: none;
  background-color: var(--color-tertiary);
  border-radius: 3rem;
  cursor: pointer;
}

.solution__icon { transition: transform .3s; }

.solution[open] .solution__icon { transform: rotate(180deg); }

.solution__paragraph {
  padding: 1rem;
  color: var(--color-paragraph);
  text-wrap: pretty;
  line-height: 1.5;
}

@media (width >= 600px) {
  /* SECTION SOLUTIONS */
  .solutions__group {
    width: 90%;
    margin-inline: auto;
  }
}

@media (width >= 768px) {
  /* SECTION SOLUTIONS */
  .solutions {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .solutions__figure { margin-inline: 0; }

  .solutions__group {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 350px;
    margin-inline: 0;
  }
}